{
  "printwidth": 125,
  "tabWidth": 2,
  "singleQuote": true,
  "bracketSpacing": true,
  "semi": false,
  "useTabs": false,
  "jsxBracketSameLine": true,
  "jsxSingleQuote": true,
  "noBracketSpacing": true
}
